{
    "env": {
        "browser": true,
        "jasmine": true
    },

    "globals": {
        "d3": true,
        "z": true
    },

    "rules": {
        "no-use-before-define": [true, "nofunc"]
    }
}
